@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::root{
    --roxo: #4a15a0;
    --branco: #fff;
    --cinza-claro: #303030;
    --cinza-escuro: #202020;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: "Montserrat", sans-serif;
    height: 1000vh;
}

li, a{
    text-decoration: none;
    color: #202020;
    list-style: none;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    transition: all .5s ease;
    z-index: 1;
}
#nav img{
    cursor: default;
}
#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    justify-content: space-around;
    font-size: 1.1rem;
}
#menu a li{
    transition: all .3s ease;
    position: relative;
    color: #303030;
}
#menu a Li:hover{
    font-size: 1.25rem;
}

#menu a li:after{
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #4a15a0;
    transition: width .3s ease 0s, left .3s ease 0s;
    width: 0;
}
#menu a li:hover:after{
    width: 100%;
    left: 0;
}
#canto a.btn1 li{
    background-color: #4a15a0;
    padding: 10px;
    border-radius: 10px;
    transition: all .5s ease;
    color: #fff;
}
#canto a.btn1 li:hover{
    background-color: #e7e6e6;
    color: #4a15a0;
    border-radius: 30px;
}

 a#logo{
    visibility: hidden;
}

/* EFEITO DE ROLAGEM */
.rolagem{
    background-color: transparent;
    backdrop-filter: blur(10px);
    transition: all .5s ease;
}


/* MAIN */
/* HERO */
#hero .text{
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
}
#hero .text h1{
    font-size: 3rem;
}
#hero .text p{
    font-size: 1.2rem;
    letter-spacing: 2px;
}
#hero .text span{
    color: #4a15a0;
    font-weight: bold;
}
#hero .text a.btn2{
    padding: 10px;
    background-color: #4a15a0;
    border-radius: 10px;
    color: #fff;
    transition: all .5s ease;
}
#hero .text a.btn2:hover{
    border-radius: 20px;
    background-color: #e7e6e6;
    color: #4a15a0;
    font-size: 1.2rem;
}
.video{
    /* width: 100%; */
    z-index: -1;
    /* position: relative; */
}